*{
    margin: 0;
    border: 0;

    transition: .5s;
}

body{
    background-color: dimgray;
}

#boxq{
    height: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    gap: 1rem;
}

#box{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border: 2px solid cadetblue;

    width: 50%;
    height: 28%;

    margin-left: 2%;

    border-radius: 20px;

    word-break: normal;
}

#at{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    height: 600px;
}

#fig, #pho{
    display: flex;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    transform: scale(80%);

    width: 50%;
    height: 80%;
}

#fig{
    background-image: url(icons/figma.png);
}
#pho{
    background-image: url(icons/photoshop.png);
}

#fig:hover, #box:hover, #pho:hover{
    transform: scale(90%);
}